node_modules/
.npm
dist/
build/
.dist/
.vite/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
